@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,300&family=Rock+Salt&display=swap');

/* CSS HEX
https://coolors.co/ed6a5a-f4f1bb-9bc1bc-5ca4a9-e6ebe0
--terra-cotta: #ed6a5aff;
--pale-spring-bud: #f4f1bbff;
--opal: #9bc1bcff;
--cadet-blue: #5ca4a9ff;
--alabaster: #e6ebe0ff;
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none

(public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 1;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5
display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: decimal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*GENERAL STYLES*/
html {
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  border: 1px solid grey;
}
body {
  font-size: 1.9rem;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3{
font-family: 'Rock Salt', cursive;
}

/* Header Styles */
header {
  display: flex;
  width: 100%;
  background-color: #ed6a5aff;
}

header div img {
  height: 12vh;
  margin: 10% 0 5% 10%;
  justify-content: center;
  border-radius: 10%;
}

header nav {
  display: flex;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

header nav ul a {
  display: flex;
  justify-content:flex-end;
  text-align: center;
  margin-left: 4%;
  padding: 1%;
  color: black;
}

#sign-in {
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 1%;
  padding: .5% 3%;
}

/* End Header Styles */

/* index title container styes */
body {
  width:100%;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background-color: #f4f1bbff;
  background-image: url("/Resources/typewriter-801921_1920.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% auto;
}

.title-container h1 {
font-size: 7rem;
padding: 1% 0;
color: rgb(17, 233, 222);
width: 100%;
margin-bottom: 3%;
}

.title-container h2 {
  font-size: 3rem;
  padding: 1% 0;
  margin-bottom: 5%;
  color: black;
  }

.title-container div {
align-items: center; 
width: 75%;
margin-bottom: 5%;
color: #000000;
}

.title-container p{
  margin-bottom: 5%;
}

#title-sign-in {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1% 3%;
  color: #070a92;
  text-align: center;
  display: flex;
  width: 35%;
  justify-content: center;
  margin: 0 auto;
}

/* end index title container styles */

/* index how it works section styles */
.how-it-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background-color: #5ca4a9ff;
}

.how-it-works-title {
width: 70%;
padding: 2% 0;
}

.how-it-works h2 {
  font-size: 4rem;
}

.div1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2% 0;
}

.how-to-list img {
  height: 25vh;
  border-radius: 10%;
}

.how-to-list ol {
  /* list-style-type: decimal; */
  font-size: 2rem;
  justify-content: space-evenly;
  text-align: left;
  padding: 2% 0;
}

/* end index how it works section styles */

/* index features section styles */
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background-color: #e6ebe0ff;
  padding: 2%, 0;
}

#features-h2 {
  font-size: 4rem;
  width: 90%;
  padding: 5%, 0;
}

.div2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%
}

.div3 h3 {
  font-size: 3rem;
}

.div3 {
  display: flex;
  flex-direction: column;
    width: 50%;
}

.div3 img {
  /* height: 40vh; */
  width: 100%;
}

/* end index features section styles */


/* about team page*/

#main-container{
  text-align: center;
  width: 100%;
  
}

#main-container h1{
  font-size: 5rem;
  margin: auto;
  padding: 2%;
}

#main-container h2{
  font-size: 2.5rem;
  margin: auto;
}

#allpeople {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #5ca4a9ff;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 3%;
}

.person{
  width: 30%;
  /* margin-: 5%; */
  align-content: center;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.person img {
  width: 90%;
  border-radius: 7%;
}
/* about team page end*/

/* location 1 page */
#location1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

.location1box{
  width: 40%;
}

.location1box img{
  width: 100%;
}

/* location 1 page end */

/* location 2 page */
#switch {
  display: block;
  padding: 1%;
  text-align: center;
  margin-bottom: 1%;
  }

  #switch button {
    border-radius: 10%;
  }

  .location2-container {
    text-align: center;
    width: 100%;
  }
  
  .location2-container h2{
    font-size: 2.5rem;
    margin: auto;
  }
  
  .location2-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
  }
  
  .small-box{
    width: 31%;
    align-content: center;
  }

  .small-box img{
    width: 100%;
  }
  
  .small-box p {
    margin-bottom: 5%;
  }

  #location2-info {
    align-items: center;
  }

  #location2-info h2, h3{
    padding: 2%;
  }
#location2-info p{
  font-size: 1rem;
}

/* location 2 page end */

/* Footer Styles */
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ed6a5aff;
}

.footer-1 {
  display: flex;
  width: 100%
}

footer img {
  height: 12vh;
  margin: 10% 0 5% 10%;
  justify-content: center;
  border-radius: 10%;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer nav a {
  text-align: center;
 margin-right: 4%;
  padding: 1%;
  color: black;
}

#footer-h2 {
  display: block;
  margin: auto;
}
/* End Footer Styles */
/*End team page*/

/* @media (max-width: 1024px) {
  body {
    font-size: 0.4rem;
    line-height: 1;
  }
}
@media (max-width: 800px) {
  body {
    font-size: 0.4rem;
    line-height: 1;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 0.4rem;
    line-height: 1;
  } */

