@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,300&family=Rock+Salt&display=swap");

/* CSS HEX
https://coolors.co/ed6a5a-f4f1bb-9bc1bc-5ca4a9-e6ebe0
--terra-cotta: #ed6a5aff;
--pale-spring-bud: #f4f1bbff;
--opal: #9bc1bcff;
--cadet-blue: #5ca4a9ff;
--alabaster: #e6ebe0ff;
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none

(public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5
display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: decimal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*GENERAL STYLES*/
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  border: 1px solid grey;
}
body {
  font-size: 1.9rem;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Rock Salt", cursive;
}

/* Header Styles */
header {
  display: flex;
  width: 100%;
  background-color: #ed6a5aff;
}

header div img {
  height: 12vh;
  margin: 10% 0 5% 10%;
  justify-content: center;
  border-radius: 10%;
}

@media (max-width: 800px) {
  header div img {
    height: 10vh;
  }
}

header nav {
  display: flex;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

header nav ul a {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-left: 4%;
  padding: 1%;
  color: black;
}

header nav ul a:hover {
  color: white;
  background-color: black;
}

/* @media (max-width: 800px) {
  header nav ul a {
    font-size: 1.5rem;
    line-height: 1;
  }
} */

#sign-in {
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 1%;
  padding: 0.5% 3%;
}

@media (max-width: 800px) {
  #sign-in {
    margin-right: 3%;
  }
}

/* End Header Styles */

/* index title container styes */
body {
  width: 100%;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background-color: #f4f1bbff;
  background-image: url("/Resources/typewriter-801921_1920.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% auto;
}

.title-container h1 {
  font-size: 7rem;
  padding: 1% 0;
  color: rgb(49, 210, 238);
  width: 100%;
  margin-bottom: 3%;
}

@media (max-width: 800px) {
  .title-container h1 {
    font-size: 6rem;
  }
}

.title-container h2 {
  font-size: 3rem;
  padding: 1% 0;
  margin-bottom: 5%;
  color: black;
}

@media (max-width: 800px) {
  .title-container h2 {
    font-size: 2.5rem;
    margin-bottom: 4%;
  }
}

.title-container div {
  align-items: center;
  width: 75%;
  margin-bottom: 5%;
  color: #000000;
}

.title-container p {
  margin-bottom: 5%;
}

.title-container a {
  font-size: 2.2rem;
}

#title-sign-in:hover {
  background-color: navy;
  color: white;
}

@media (max-width: 800px) {
  .title-container p {
    font-size: 1.7rem;
    margin-bottom: 4%;
  }
}

#title-sign-in {
  border: 2px solid black;
  border-radius: 10px;
  padding: auto;
  color: #070a92;
  text-align: center;
  display: flex;
  width: 28%;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(244, 241, 187, 0.513);
}

@media (max-width: 800px) {
  #title-sign-in {
    font-size: 1.7rem;
    padding: 0;
    width: 30%;
  }
}
/* end index title container styles */

/* index how it works section styles */
.how-it-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background-color: #5ca4a9ff;
}

.how-it-works-title {
  width: 70%;
  padding: 2% 0;
}

.how-it-works h2 {
  font-size: 4rem;
}

@media (max-width: 800px) {
  .how-it-works h2 {
    font-size: 3rem;
  }
}

.div1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2% 0;
}

.how-to-list img {
  height: 25vh;
  border-radius: 10%;
}

@media (max-width: 800px) {
  .how-to-list img {
    height: 20vh;
  }
}

.how-to-list ol {
  /* list-style-type: decimal; */
  font-size: 2rem;
  justify-content: space-evenly;
  text-align: left;
  padding: 2% 0;
}

@media (max-width: 800px) {
  .how-to-list ol {
    font-size: 1.7rem;
    line-height: 1;
  }
}

/* end index how it works section styles */

/* index features section styles */
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background-color: #e6ebe0ff;
  margin: 3% auto;
}

#features-h2 {
  font-size: 4rem;
  width: 90%;
  padding: 10%, 0;
  width: 100%;
}

@media (max-width: 800px) {
  #features-h2 {
    font-size: 3rem;
  }
}

.div2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

@media (max-width: 800px) {
  .div2 p {
    font-size: 1.3rem;
  }
}

.div3 h3 {
  font-size: 3rem;
}

@media (max-width: 800px) {
  .div3 h3 {
    font-size: 2rem;
  }
}

.div3 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.div3 img {
  /* height: 40vh; */
  width: 100%;
}

/* end index features section styles */

/* about team page*/

#main-container {
  text-align: center;
  width: 100%;
}

#main-container h1 {
  font-size: 5rem;
  margin: auto;
  padding: 2%;
}

@media (max-width: 800px) {
  #main-container h1 {
    font-size: 4rem;
  }
}

#main-container h2 {
  font-size: 2.5rem;
  margin: auto;
}

@media (max-width: 800px) {
  #main-container h2 {
    font-size: 2rem;
  }
}

#allpeople {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #5ca4a9ff;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 3%;
}

.person {
  width: 30%;
  align-content: center;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

@media (max-width: 800px) {
  .person {
    font-size: 1.2rem;
    width: 40%;
  }
}

.person img {
  width: 90%;
  border-radius: 7%;
}
/* about team page end*/

/* location 1 page */
#location1-switch {
  display: block;
  padding: 1%;
  text-align: center;
  margin-bottom: 1%;
  background: white;
}

#location1-switch h2 {
  font-size: 2rem;
  margin: auto;
}

@media (max-width: 800px) {
  #location1-switch h2 {
    font-size: 1.4rem;
  }
}

#location1-switch button {
  border-radius: 10%;
  padding: 1%;
  background-color: #f4f1bbff;
}

#location1-switch button:hover {
  background-color: navy;
  color: white;
}

#location1container {
  background-color: #5ca4a9ff;
}

#location1section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

.location1box {
  width: 50%;
}

.location1box h3 {
  font-size: 2.5rem;
}

@media (max-width: 800px) {
  .location1box h3 {
    font-size: 2rem;
  }
}

.location1box p {
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .location1box p {
    font-size: 1.2rem;
  }
}

.location1box img {
  width: 100%;
}

/* location 1 page end */

/* location 2 page */

#switch {
  display: block;
  padding: 1%;
  text-align: center;
  background: white;
}

#switch h2 {
  font-size: 2rem;
  margin: auto;
}

#switch button {
  border-radius: 10%;
  padding: 1%;
  background-color: #f4f1bbff;
}

#switch button:hover {
  background-color: navy;
  color: white;
}

.location2-container {
  text-align: center;
  width: 100%;
}

.location2-container h2 {
  font-size: 2rem;
  margin: auto;
}

@media (max-width: 800px) {
  .location2-container h2 {
    font-size: 1.5rem;
  }
}

.location2-boxes {
  background-color: #5ca4a9ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  padding-top: 2%;
}

/* @media (max-width: 800px) {
  .location2-boxes {
    padding-top: 2%;
  }
} */

.small-box {
  width: 31%;
  align-content: center;
}

@media (max-width: 800px) {
  .small-box {
    width: 42%;
  }
}

.small-box img {
  width: 100%;
  border-radius: 4%;
}

.small-box p {
  margin-bottom: 5%;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .small-box p {
    font-size: 1.2rem;
  }
}

#location2-info {
  align-items: center;
}

@media (max-width: 800px) {
  #location2-info {
    align-items: center;
    order: -4;
    width: 70%;
  }
}

#location2-info h2,
h3 {
  padding: 2%;
}

#location2-info p {
  font-size: 1.3rem;
}

@media (max-width: 800px) {
  #location2-info h2,
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  #location2-info p {
    font-size: 0.9rem;
  }
}

/* location 2 page end */

/* Footer Styles */
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ed6a5aff;
  padding-bottom: 1%;
}

.footer-1 {
  display: flex;
  width: 100%;
}

footer img {
  height: 12vh;
  margin: 10% 0 0 10%;
  justify-content: center;
  border-radius: 10%;
}

@media (max-width: 800px) {
  footer img {
    height: 10vh;
  }
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer nav a {
  text-align: center;
  margin-right: 4%;
  padding: 1%;
  color: black;
}

footer nav a:hover {
  color: #fff;
  background-color: #000;
}

@media (max-width: 800px) {
  footer nav a {
    font-size: 1.8rem;
  }
}

#footer-h2 {
  display: block;
  margin: auto;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  #footer-h2 {
    font-size: 1.2rem;
    /* line-height: 2; */
  }
}
/* End Footer Styles */
/*End team page*/

/* @media (max-width: 1024px) {
  body {
    font-size: 0.4rem;
    line-height: 1;
  }
}
@media (max-width: 800px) {
  Header Styles for 800px
} */
@media (max-width: 500px) {
  /* Header Styles for 500px */
  body {
    font-size: 0.4rem;
    line-height: 1;
    width: 100%;
  }

  header {
    padding-bottom: 2%;
  }

  header nav ul {
    width: 90%;
  }

  header nav ul a {
    text-align: center;
    font-size: 1.4rem;
  }
  /* End Header Styles */
  /* Index Title container styles for 800px */
  .title-container {
    height: 60vh;
  }

  .title-container h1 {
    font-size: 5.5rem;
    padding: 4% 0;
    margin-bottom: 3%;
  }

  .title-container h2 {
    font-size: 2.5rem;
    padding: 1% 0;
    margin-bottom: 5%;
    line-height: 1.5;
  }

  .title-container div {
    align-items: center;
    width: 85%;
    margin-bottom: 5%;
  }

  .title-container p {
    font-size: 1.5rem;
    margin-bottom: 5%;
    margin-left: 15%;
    width: 75%;
  }

  #title-sign-in {
    border: 3px solid black;
    border-radius: 10px;
    padding: 1% 3%;
    background-color: #ed6a5aff;
    color: #f4f1bbff;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    width: 35%;
    justify-content: center;
    margin: 0 auto;
  }

  #title-sign-in:hover {
    background-color: navy;
  }

  #title-sign-in:active {
    background-color: navy;
  }
  /* end index title-container styles for 500px */
  /* index how it works container syles for 500px */

  .how-it-works h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 3% 0;
  }

  .how-to-list img {
    height: 20vh;
    border-radius: 10%;
  }

  .how-to-list ol {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  /* end how it works container styles for 500px */

  /* index features section styles for 500px */
  .features-container {
    margin: 5% auto;
  }

  #features-h2 {
    font-size: 4rem;
    color: #ed6a5aff;
    padding: 5%, 0;
    margin-bottom: 5%;
  }

  .div2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .div3 h3 {
    font-size: 3rem;
  }

  .div3 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 3%;
  }

  .div3 p {
    font-size: 2rem;
  }
  /* end index features section styles for 500px */
  /* meet the team styles for 500px */

  #main-container h1 {
    font-size: 5rem;
    padding: 4%;
  }

  .person {
    width: 40%;
    align-content: center;
    font-size: 1.5rem;
    margin-bottom: 5%;
    padding: 2%;
  }

  .person h2 {
    line-height: 1.5;
    padding-bottom: 10%;
  }

  .person img {
    width: 90%;
    border-radius: 7%;
    margin-bottom: 3%;
  }
  /* end meet the team syles for 500px */
  /* location 1 styles for 500px */
  #location1-switch {
    padding: 3%;
  }

  #location1-switch h2 {
    font-size: 2rem;
  }

  #location1-switch button {
    border-radius: 10%;
    padding: 1%;
    background-color: #f4f1bbff;
  }

  #location1container {
    background-color: #5ca4a9ff;
    padding: 5%;
  }

  #location1section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
  }

  .location1box {
    width: 70%;
    padding-bottom: 3%;
  }

  .location1box h3 {
    font-size: 2.5rem;
    padding-bottom: 10%;
  }

  .location1box p {
    font-size: 1.5rem;
  }

  .location1box img {
    width: 100%;
  }

  /* end location 1 styles for 500px */
  /* location 2 styles for 500px */

  #switch button {
    margin: 3% auto;
  }

  #switch button:hover {
    background-color: navy;
    color: white;
  }

  .location2-container h2 {
    font-size: 2rem;
  }

  .location2-boxes {
    padding: 5% 2%;
    width: 100%;
  }

  .small-box {
    width: 40%;
    align-content: center;
  }

  .small-box img {
    width: 100%;
    border-radius: 4%;
    padding-bottom: 3%;
  }

  .small-box p {
    margin-bottom: 10%;
    font-size: 1.5rem;
  }

  #location2-info {
    align-items: center;
    order: -4;
    width: 70%;
  }

  #location2-info h2 {
    font-size: 3rem;
  }

  #location2-info h3 {
    font-size: 2.5rem;
  }

  #location2-info p {
    font-size: 1.5rem;
  }
  /* end location 2 styles for 500px */
  /* Footer Styles for 500px */
  footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ed6a5aff;
  }

  footer nav a {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 10%;
    padding: 1%;
    color: black;
  }

  #footer-h2 p {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 3%;
  }
  /* End Footer Styles for 500px */
}
